 header .top-hd {
	background:#fff;
	display:flex; 
	}
 header .inner{
	width:100%;
	max-width: 1200px;
	height: 80px;
 	display:flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding:30px;
	}
 header .right-area {
	display:flex;
	justify-content: flex-end;
    align-items: center;
	}
 header .logo h1 a img {
	margin: 20px; 
	display:flex;
	align-content: flex-start;
	width:80px;
	}
 header .search {margin-right:20px;}
 header .search > div{
	 border-radius:30px;
	 padding: 5px 10px;
	}
 header .search > div input{
	border: 0; 
	height: 30px;
	display: inline-block;
	vertical-align:middle;
	}
 header .search > div button{
	border: 0;
	background: none;
	display:inline-block;
	vertical-align:middle;
	}
 header .search > div button img{width: 30px;}
 header .login-btn-box i{
	display: block;
	text-align:center;
	}
header .login-btn-box i img{
	width:30px;
	}

 .wrap-all{
	 width:100%; 
	 max-width:1200px; 
	 margin:0 auto;
	 display:flex;
	 justify-content:center;

	 }

 .bt-box{border-bottom: 1px solid #999;}
 .bt-box nav {display:flex;}
 .bt-box nav > ul {display:flex;}
 .bt-box nav > ul > li {margin-right:20px;}
 .bt-box nav > ul > li > a {
	display:block; 
	line-height:50px; 
	font-size:17px; 
	padding:0 20px;
	}
.bt-box{position:relative;}
.m_menu{
	padding-right:20px;
	font-size:40px;
	}
/*header nav {transform: translate(-100%, 0px); transition:all 0.3s;}
header nav.active{transform: translate(0%, 0px);}*/



.mySwiper {
		width:100%;
		max-width:1200px;
        height: 100%
		margin-bottom:30px
 }
 
 .mySwiper img {
 	width:100%;
	height:100%;
	}

.main_title {
	padding-top: 40px; 
	text-align:center;
	}
.main_title h2 {
	margin:10px; 
	font-size:40px;
	}
.main_title p {
	font-size:20px;
	}
article .container {
	width:100%;
	max-width:1200px;
	}

.main_content .circle ul > li > div {
	display: block;
	width: 200px;
	height: 200px;
    border-radius: 50%;
    overflow: hidden;
	}
.main_content .circle ul{
	text-align:center;
	padding-bottom: 60px;
	display: flex;
    justify-content: space-between;
	}
.main_content .circle ul li {
	padding:0 10px
	}
.main_content .circle ul p {
	font-size:18px; 
	padding:10px;
	}
.main_content .circle {
	width:100%;
	max-width:1200px;
	margin: 0 auto;
	}

article .mySwiper02 {

	max-width:1200px;
	height: 100%;
	}
article .mySwiper02 .swiper-slide {
	padding: 0 10px;
	}
article .mySwiper02 .swiper-slide p {
	font-size:25px;
	text-align:center;
	padding:20px;
	}

.attraction ul > li > div {
	display:block;
	overflow:hidden;
	width:200px;
	height:200px;
	border-radius:50%;
	bacground-size: cover;
	}
.attraction ul{
	text-align:center;
	padding: 10px;
	display: flex;
    justify-content: space-between;
	}
.attraction {
	width:100%;
	max-width:1200px;
	margin: 0 auto;
	}
.attraction ul > li {
	padding: 0 10px;
	}
.attraction p {
	font-size: 20px;
	}
.attraction h3 {
	font-size: 25px;
	}

footer .inner{
	display:flex;
	justify-content: space-between;
	padding-top:40px;
	width:100%;
	max-width: 1200px;
	margin: 0 auto;
	}
footer .footer-left {
	padding-left:10px;
	}
footer .footer-left h2 {
	padding-bottom: 20px;
	font-size: 35px;
	}
footer .footer-left p {
	font-size:16px;
	font-weight: 300;
	padding-bottom: 10px;
	}
footer .footer-left .address p {
	font-weight: 400;
	}
footer .footer-left .tell h1 {
	font-size:40px;
	}
footer .footer-left .tell p {
	padding-bottom:30px;
	}
footer .footer-ul-hd p{
	font-weight:600;
	}
footer .footer-right ul {
	display:flex;
	font-size:16px;
	padding-bottom: 10px;
	}
footer .footer-right ul li {
	padding:10px;
	}
footer .footer-right-hd {
	width:100%;
	}
footer .footer-right-bd {
	width:100%;
	}


.join-inner {
	display:flex;
	justify-content: center;
	margin-top:100px;
	}
.join-box {
	width:100%;
	max-width:400px;
	padding:10px;
	}
.join-chk-box{
	width:100%;
	max-width:400px;
	padding-top:120px;
	}
.join-box h2 {
	font-size:30px;
	padding:5px;
	}
.join-wrap .btn button{
	width:100%;
	height:40px;
	text-align:center;
	background: #000;
	color:#fff;
	border:0;
	}
.join ul li {
	padding:5px;
	}
.join input[type="text"] {
	width:100%;
	height:40px;
	border-radius:4px;
	border: 1px solid #ccc;
	padding:4px;
	}
.join input[type="password"] {
	width:100%;
	height:40px;
	border-radius:4px;
	border: 1px solid #ccc;
	padding:4px;
	}
.join .phone input[type="text"] {
	width:80%;
	border-radius:4px;
	border: 1px solid #ccc;
	}
.join .phone button{
	width: 18%; 
	}
.join .phone div {
	display:flex;
	justify-content: space-between;
	}

.join-chk-content{
	border-top: 1px solid #000;
	margin: 10px 0;
	}
.join-chk-content li {
	margin: 10px 0;
	}
.join-chk-box ul li span {
	display:block; line-height:30px;
}
.join-chk-box ul li a{
	float:right;
	display:block;
	border:1px solid #ccc;
	line-height:30px;
	padding: 0 20px;
	}
.join-chk-box label {
	padding-left: 5px;
	}

.bbs-write .write-wrap {width:100%; max-width:1200px; margin:0 auto;}
.bbs-write .write-wrap > ul {padding-top:100px;}
.bbs-write .write-wrap > ul > li {display:flex; padding: 5px;}
.bbs-write .write-wrap > ul > li > div.write-hd {width:10%; display: grid; align-items: center;}
.bbs-write .write-wrap > ul > li > div.write-hd h2 {text-align:center;}
.bbs-write .write-wrap > ul > li > div {width:100%;}

input[type="text"]{width:100%;height:40px; }
textarea {width:100%}
input[type="file"]{width:100%; height:100%; padding:5px; text-align:center; border: 1px solid #000; background: #eee;}

.write-btn-box {
	width:100%; 
	max-width:1200px;
	margin:0 auto;
	}
.write-btn {
	text-align:center; 
	padding:20px
	}
.write-btn button {
	padding:10px 40px;
	}


.list_img{
	
}
.list_wrap {
	width:100%;
	max-width:1200px;
	height:600px;
	margin: 0 auto;
	}
.list_wrap_txt {
	width:100%;
	max-width:1200px;
	background:url("../img/winter02.jpg");
	height:100%;
	background-size:cover;
	text-align:center;
	align-content:center;
	margin : 0 auto;
	display:grid;
	}
.list_wrap_txt h2{
	font-size:40px;
	color:#fff;
	}
.list_wrap_txt p{
	font-size:20px;
	color:#fff;
	font-weight:300;
	}
.list_wrap .sub_tap {
	margin-top: -43px;
    background: rgb(147 118 64 / 30%)
	}

.list_wrap .sub_tap ul {
	font-size:30px;
	display:flex;
	justify-content: center;
	}
.bbs-list-wrap {width:100%; max-width:1200px; margin:0 auto;}
.list-box {width:100%; max-width:1200px; margin:0 auto;}
.list-box > ul > li {display:flex; border-bottom: 1px solid #ccc;}
.list-box > ul > li > div {text-align:center; padding:20px 0;}

.list-box > ul > li > div.no{width:10%}
.list-box > ul > li > div.subject{width:70%}
.list-box > ul > li > div.date{width:20%}

.list-box > ul.list-hd > li > div{border-top:3px solid #000;}

.list-box > ul.list-hd > li > div{font-size:21px; font-weight:600;}
.list-box > ul.list-bd > li > div.subject{text-align:left;}


.list-btn{text-align:right; margin:20px 0 ; }
.list-btn a{display:inline-block; background:#000; color:#fff; line-height:40px; padding:0 20px; font-size:15px;}

.paging  > ul  {
	display: flex;
    justify-content: center;
	}	
.paging > ul > li {
    margin: 0 5px;
    }
.paging > ul > li > a {
    font-size: 17px;
    border: 1px solid #000;
    display: block;
    line-height: 30px;
    padding: 0 10px;
    }	
.paging > ul > li:first-child a {
    color: green;
    }
.paging > ul > li:last-child a {
    color: green;
    }
.paging > ul > li.on > a {
    font-weight: 600;
    color: red;
    border: 1px solid red;
    }
.paging > ul > li:hover a {
    color: red;
    border: 1px solid red;
    }